MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

WP_TITLE=Inception
WP_URL=https://hakotu.42.fr
WP_ADMIN_USER=supervisor
WP_ADMIN_EMAIL=halilsametk@gmail.com
WP_USER=editor
WP_USER_EMAIL=editor@hakotu.42.fr

DOMAIN_NAME=hakotu.42.fr
CERTS_KEY=/etc/ssl/private/inception.key
CERTS_CRT=/etc/ssl/certs/inception.crt

DATA_PATH=/home/hakotu/data
